
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
    <h1>Buy now!</h1>
    <div id="checkout-button"></div>

    <script>
        const mp = new MercadoPago('APP_USR-85af6e00-9e3a-4b51-bebd-d78f3be329b8', {
            locale: 'en-US'
        });

        fetch('/create_preference', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(preference => {
            mp.checkout({
                preference: {
                    id: preference.id
                },
                render: {
                    container: '#checkout-button',
                    label: 'Pay',
                }
            });
        });
    </script>
</body>
</html>