{% extends "base.html" %}
{% load static %}

{% block title %}
Tu carrito - JOSRAM
{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'cart/all-products.css' %}"/>

{% include "cart/includes/style.html" %}
{% endblock %}


{% block content %}

<section id="header">


    <div class="container">
        {% if not has_clothes %}
        <div>
            <h1> No tienes ningun elemento en el carrito </h1>
        </div>
        {% else %}
        <div>
            <h1> Tu carrito </h1>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col"></th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for clothe in carts %}
                                    <tr>
                                        <td class="col-md-3 col-sm-12 align-middle">
                                            <div class="col-auto d-lg-block">
                                                <img src="{{ clothe.img }}" class="img-fluid mx-auto d-block" alt="{{ clothe.name }}" style="width: 100px; height: auto; border-radius:8px;">
                                            </div>
                                        </td>
                                        <td class="col-md-3 col-sm-12 align-middle">
                                            <div class="p-4 d-flex flex-column position-static">
                                                <strong class="d-inline-block mb-2 text-primary-emphasis">{{ clothe.color_clothe.clothes.get_type_display }}</strong>
                                                <a href="{% url "clothes-details" clothe.slug %}"><h3 class="mb-0">{{ clothe.name }}</h3></a>
                                                {% load custom_filters %}
                                                <div id="precio_unitario" class="mb-1 text-body-secondary">{{ clothe.price|currency }} COP</div>
                                                <p class="card-text mb-auto">Talla: {{ clothe.size }}</p>
                                                Color: {{ clothe.color }}
                                            </div>
                                        </td>
                                        <td class="col-md-3 col-sm-6 align-middle">
                                            <div class="p-4 d-flex justify-content-center align-items-center">
                                                <form method="post" class="d-flex align-items-center" action="{% url 'your-cart'%}">
                                                    {% csrf_token %}
                                                    <input type="submit" value="-" name="minus" class="btn btn-dark">
                                                    <input type="number" id="cant_product_{{ clothe.size_pk }}" name="cant_product"
                                                           value="{{ clothe.quantity }}" min="1" readonly class="form-control text-center" style="width: 60px; padding-right:7px;">
                                                    <input type="submit" value="+" name="plus" class="btn btn-dark ">
                                                    <input type="hidden" value="{{ clothe.size_pk }}" name="sizes_pk">
                                                  
                                                    <button class="btn btn-danger rounded-pill ms-2" type="submit" name="delete">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                            {% if not clothe.is_stock_enough%}
                                            <div>
                                                <span style="font-style: italic;">
                                                    <svg style="color:red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                                    </svg>
                                                    No puedes agregar más {{clothe.name}}!</span>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td class="col-md-3 col-sm-6 align-middle">
                                            <div class="p-4 d-flex flex-column position-static">
                                                {% load custom_filters %}
                                                <span id="total_price_{{ clothe.size_pk }}" class="total_price">{{ clothe.total_price|currency }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2>
                {% load custom_filters %}
                SUBTOTAL: <span id="total_general">{{ sum_prices|currency }}</span>
            </h2>
            <form action="{% url "cheackout-buy" %}" method="POST">
                {% csrf_token %}
                {% if not is_enough %}
                <div class="py-2">
                    <button type="submit" name="proceed_to_checkout" class="btn btn-outline-dark rounded-pill mt-2 w-100 w-lg-50 disabled">Ir a comprar</button>
                </div>
                {% else %}
                <div class="py-2">
                    <button type="submit" name="proceed_to_checkout" class="btn btn-outline-dark rounded-pill mt-2 w-100 w-lg-50">Ir a comprar</button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    {% endif %}

</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const forms = document.querySelectorAll("form");
        forms.forEach(form => {
            form.addEventListener("submit", function(event) {
                const scrollPos = window.scrollY || document.documentElement.scrollTop;
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "scrollPos";
                input.value = scrollPos;
                form.appendChild(input);
            });
        });
    
        // Scroll to the position from the URL parameter if it exists
        const urlParams = new URLSearchParams(window.location.search);
        const scrollPos = urlParams.get("scrollPos");
        if (scrollPos) {
            window.scrollTo(0, parseInt(scrollPos));
        }
    });
    </script>
{% endblock %}