{% extends "clothes/base.html" %}
{% load static %}

{% block title %}

JOSRAM - {{type}}


{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static "clothes/show-clothes.css" %}"/>
{% include "clothes/includes/style.html" %}
{% endblock %}


{% block content %}

<section id="header">
  
    <div>
        <h1>{{type}} </h1>
    </div>

    <form action="" method="POST">
      {% csrf_token %}
    {% include "clothes/includes/header-filter.html" %}
    </form>
    
            <div class="album py-5 bg-body-tertiary">
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  {% if clothes %}
                  {% for clothe in clothes %}
                  
                      <div class="col">
                          <div  class="card shadow-sm">
                            <a href="{% url "clothes-details" clothe.clothes.slug %}">
                              <div class="hover-card">
                                  <img  src="{{ clothe.main_image.url}}" class="card-img-top imagen-1" alt="{{clothe.clothes.name}}">
                                  <img  src="{{ clothe.model_image_1.url}}" class="card-img-top imagen-2" alt="{{clothe.clothes.name}}">
                              </div>
                              <div class="card-body">
                                  <p class="card-text"> {{clothe.clothes.name|title }}</p>
                             
                              <div class="d-flex justify-content-between align-items-center">
                                  {% load custom_filters %}
                                  <p class="text-body-secondary"> {{clothe.clothes.price|currency}} </p>
                              </div>
                              </div>
                            </a>
                          </div>
                      </div>
                    
                  {%endfor%}
                  {% else %}
                  <div>
                    <h1> No se encontraron elementos a tu búsqueda! </h1>
                </div>
                {% endif %}
                  </div>
              </div>
            </div>
    
</section>

<section id="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>

{% endblock %}