<style>
    .hover-card {
        position: relative; /* Para superponer imágenes */
        width: 100%; /* Ajustar al tamaño del contenedor Bootstrap */
        height: 400px; /* Ajustar según tus necesidades */
      
        overflow: hidden; /* Para evitar desbordamiento */
    }

    .hover-card img {
        position: absolute; /* Para superponer imágenes */
        width: 100%; /* Ajustar al tamaño del contenedor */
        height: 100%; /* Ajustar al tamaño del contenedor */
       
        transition: opacity 1s; /* Para suavizar el cambio de opacidad */
    }

    .hover-card img.imagen-1 {
        opacity: 1;  /* La primera imagen es visible por defecto */
    }

    .hover-card img.imagen-2 {
        opacity: 0; /* La segunda imagen está oculta por defecto */
    }

    .hover-card:hover .imagen-1 {
        opacity: 0;  /* La primera imagen se desvanece al hacer hover */
    }

    .hover-card:hover .imagen-2 {
        opacity: 1; /* La segunda imagen se muestra al hacer hover */
    }
</style>