{% load static %}

<div class="filters">

    <div class="pt-2">
        <p>Filtrar: </p>
    </div>
   
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        
        <ul class="nav nav-pills">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Colores
                  </a>
                  <ul class="dropdown-menu">
                    {% for color in colors %}
                      {% for key, value in color.items %}
                      <form action="" method="POST">
                        {% csrf_token %}
                      <li>
                        <label>
                          <input type="submit" value="{{value}}" name="color_filter" class="dropdown-item">
                        </label>
                      </li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                </li>
              </form>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Precio
                  </a>
                  <ul class="dropdown-menu">
                    <form action="" method="POST">
                      {% csrf_token %}
                    <price-range class="facets__price">
                        <span class="field-currency">$</span>
                        
                          <div class="field">
                            {{ price_form.price_low }}  
                            <label class="field__label" for="Mobile-Filter-Precio-GTE">Desde</label>
                          </div>

                          <span class="field-currency">$</span>
                          <div class="field">
                            {{ price_form.price_hight }}                            
                            <label class="field__label" for="Mobile-Filter-Precio-LTE">hasta</label>
                          </div>
                        </price-range>
                        <button class="btn btn-primary" type="submit" name="filter_price">Filtrar</button>
                      </form>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ordenar por:
                  </a>
                  <ul class="dropdown-menu">
                    {% for color in colors %}
                      {% for key, value in color.items %}
                      <li>
                        <label>
                          <input type="submit" value="{{value}}" name="color_filter" class="dropdown-item">
                        </label>
                      </li>
                      {% endfor %}
                    {% endfor %}
                  </ul>
                </li>
                <p class="nav-link"  data-bs-toggle="dropdown" aria-expanded="false">
                  {{clothes_number}} Productos
                </p>
                
            </ul>
    </div>
</div>

