#logo {
    text-align: center;
    padding-left: 20%;
}

#cart {
    text-align: end;
    padding-left:35%;
}

a {
    color:black;
}

/* Archivo: estilo.css */
.whatsapp-float {
    position: fixed; /* Mantiene el botón en la misma posición incluso al hacer scroll */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la parte derecha */
    background-color: #25D366; /* Color de fondo de WhatsApp */
    color: white; /* Color del icono */
    border-radius: 50%; /* Para que el botón sea circular */
    text-align: center; /* Centra el icono */
    padding: 10px; /* Espaciado interno para el botón */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para hacer el botón más visible */
    width: 60px;
    height: 60px; /* Tamaño del icono */
    transition: all 0.3s ease; /* Transición para efectos de hover */
    text-decoration: none; /* Elimina el subrayado en el enlace */
}

.whatsapp-float:hover {
    transform: scale(1.1); /* Efecto de hover para aumentar ligeramente el tamaño */
}

