#header {
    margin: 1rem auto 3rem auto;
    padding: 2rem;
    background-color: rgb(247, 246, 246);
    justify-content: center;
}

#pagination {
    margin: 0;
    padding: 0;
    background-color: rgb(247, 246, 246);
    justify-content: center;
    display: flex;
   
}

