#footer {
    margin: 1rem auto 0rem auto;
    padding: 2rem;
    background-color: #1d1b1b;
    justify-content: center;
  }
  .nav li a {
    color: white; /* Set link color */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .social-links {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-links {
      flex-direction: column;
      align-items: center;
    }
  
    .nav li {
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .social-links {
      flex-direction: row;
      justify-content: center;
    }
  
    .footer-links {
      flex-direction: row;
      justify-content: center;
    }
  }
  
  @media (min-width: 993px) {
    .social-links {
      flex-direction: row;
      justify-content: center;
    }
  
    .footer-links {
      flex-direction: row;
      justify-content: center;
    }
  }